# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [7]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [10]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [13]:
# Set the date column as the DataFrame index
df = df.set_index(['date'])

In [16]:
# Drop the date column
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [34]:
from scipy.stats import stats

In [29]:
# Filter data for desired months
jun_df = df[df.index.month == 6]
dec_df = df[df.index.month == 12]

In [30]:
print(jun_df.head())
print(dec_df.head())

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [38]:
# Identify the average temperature for June
avg_jun_temp = jun_df['tobs'].mean()
var_jun_temp = jun_df['tobs'].var()
print(f'Avg Jun Temp: {avg_jun_temp}')
print(f'Var Jun Temp: {var_jun_temp}')

Avg Jun Temp: 74.94411764705882
Var Jun Temp: 10.610765848422895

In [39]:
# Identify the average temperature for December
avg_dec_temp = dec_df['tobs'].mean()
var_dec_temp = dec_df['tobs'].var()
print(f'Avg Dec Temp: {avg_dec_temp}')
print(f'Var Dec Temp: {var_dec_temp}')

Avg Dec Temp: 71.04152933421226
Var Dec Temp: 14.031915337694313

* We will be using paired t-test for our evaluation because we want to test the null hypothesis of two independent sample.

In [40]:
# Run paired t-test
stats.ttest_ind(jun_df['tobs'], dec_df['tobs'], equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

* The p-value of the june temperature data and Deecember temperature data is smaller than 0.05 hence we reject the null hypothesis and we can say that the data didn't occur by chance